{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <p class="pt-4">
        Análise de Carteira
        <ul>
            <li>Inserir os ativos da sua carteira.</li>
            <li>Calcular o BETA e ver as informações sobre Hedge.</li>
            <li>Analisar as correlações entre os ativos da sua carteira e principais indices.</li>
            <li>Verificar a distribuição Setorial.</li>
            <li>Análise de Risco x Retorno de cada Ativo.</li>
            <li>Simulação da Rentabilidade da sua Carteira.</li>
        </ul>
    </p>
    <p class="pt-4">
        10 Mandamentos de Grandes Investidores Quant/Fundamentos
        <ol>
            <li>Ser quantitativo;</li>
            <li>Entenda valor;</li>
            <li>Avalie a estratégia adequadamente (e entenda como o negócio ganha dinheiro);</li>
            <li>Compare efetivemente (expectativas com fundamentos);</li>
            <li>Pense probabilisticamente (há pouquíssimas certezas absolutas);</li>
            <li>Atualize suas visões/ opiniões efetivamente (crenças são hipóteses a serem testadas, não tesouros a serem protegidos);</li>
            <li>Cuidado com vieses comportamentais (minimizando limitações para o bom pensar);</li>
            <li>Saiba a diferença entre informação e influência;</li>
            <li>Faça dimensionamento de posição (maximização dos lucros onde há um EDGE)</li>
            <li>E mantenha sua mente aberta!</li>
        </ol>
    </p>
</div>
{% endblock %}