{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 58px;
    }
    @media (max-width: 991px) {
    #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
    }
    }
</style>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-1">
<div class="container">
    <!--Section: Content-->
    <section class="text-center">
    <h4 class="mb-5"><strong>Últimas postagens</strong></h4>
{% for post in posts %}

    <div class="row">
        <div class="d-flex justify-content-center">
        <div class="card mb-6">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
            </div>
            <div class="card-body">
            <h5 class="card-title">{{post.titulo}}</h5>
            <p  class="card-text">
                {{post.conteudo}}
            </p>
            <!--<a href="#!" class="btn btn-primary">Leia mais</a>-->
            </div>
        </div>
        </div>





    </div>
    </section>
    <!--Section: Content-->

</div>
</main>
</html>
{% endfor %}
{% endblock %}