{% extends 'base.html' %}
{% load static %}
{% block content %}
<p class="pt-4">O objetivo da mentoria é de ensinar o investidor a analisar as ferramentas da XQuant e os fundamentos das empresas, incluindo os aspectos quantitativos e qualitativos, de modo a proporcíonar maior autonomía nas decisões de investimentos, a fim de auxiliar a obtenção do resultado esperado. 
</p><br>
<p class="pt-0">A mentoria é realizada da seguinte forma:</p><br>
<img src="{% static 'conversa.png' %}" height="100" class="mx-2"><br>

    
    
    <p>1 Reunião online exclusiva com um consultor especialista no método XQUANT;</p><br> 
    
    <p>30 Dias de assessoria via Telegram.</p><br> 
    
    
    
    <p>Essa consultoria é feita para que você aprenda a nossa metodologia de operar mercado.</p><br> 
    
    
    
    <p>Tempo de duração: 03 horas de reunião online + 30 dias de acompanhamento via Whatsapp.</p><br> 
    
    
    
    <p>O objetivo é que após o término da consultoria o aluno conheça uma estratégia para conseguir uma RENDA MENSAL decorrente de operações ajustadas ao seu perfil de risco e patrimônio alocada em renda variável. Estrutura da consultoria:</p><br> 
    
    
    
    <p>PARTE 1- ANÁLISE DA CARTEIRA: Nessa parte é feita a análise de carteira, que é remanejada visando a obtenção do máximo de margem operacional, neutralização do delta e são formuladas as estruturas de gestão de risco;</p><br> 
    
    
    
    <p>PARTE 2 - FERRAMENTAS: apresentação de plataformas, robôs e corretoras Brasil - aqui são apresentadas as plataformas com melhor custo/benefício, bem como será ensinada uma estrutura operacional de investimento;</p><br> 
    
    
    
    <p>PARTE 3 - CONSTRUINDO O PORTFOLIO - Alocação de capital, retorno esperado do portfólio, e a aplicação das estratégias personalizadas de acordo com a margem/patrimônio do trader - nessa parte será ensinada uma estratégia XQUANT que se encaixe no perfil do investidor;</p><br>
    
    
    
    <p>PARTE 4 - Elaboração de trades e montagem de estratégias na prática - parte prática de montagem dos trades no robô;</p><br>
    
    
    
    <p>PARTE 5 - Manejos e rolagens - São ensinadas as estruturas de defesa e do gerenciamento das operações visando reduzir o risco.</p><br> 
    
    
    
    <p>PARTE 6 - Esclarecimento de dúvidas.</p><br> 
    
    
    
    <p>Disclaimer: As estratégias ensinadas só podem ser postas em práticas pelo investidor desde que este compreenda e aceite integralmente os riscos tacitamente declarados ao executá-las.</p>
{% endblock %}